html {
	overflow-y: scroll;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;

}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
	background-size: no-repeat;
	background-color: #FFF;
	background-attachment: fixed;
}

head {
	
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	line-height: 1;
	text-transform: none;

}

img {
	max-width: 100%;
}

main {
	margin: 0 1em;

}

@media screen and (min-width: 1000px){
	main {
		margin: 0 5em;
	}
}

/* 	NAV */

.logo {
	width: 250px;
}

.nav-container {
	padding-bottom: 0.5em;
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;

}

.nav-container p {
	color: #1a9a38;
}

.nav-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1;
	
}

.nav-item p {
	font-family: "Lora", serif;
	color: #519548;
	font-size: 1.1em;
	line-height: 0;

}

@media screen and (min-width: 500px) {
	.nav-item p {
		font-size: 1.4em;
	}
}

nav ul {
	list-style: none;
	font-family: "Lora", serif;
	display: flex;
	justify-content: center;
	padding: 0;
}

nav li {
	padding-bottom: 3px;
	position: relative;
	padding: 0 0.7em;
	text-align: center;
	display: flex;
	justify-content: space-around;
	font-size: 1.1em;
}

@media screen and (min-width: 500px) {
	.nav li {
		font-size: 1.4em;
	}
}

nav a {
	text-decoration: none;
}

nav a:link, nav a:visited {
	color: #222;
}

nav a:hover,
nav a:focus {
	color: #519548;
	cursor: pointer;
}

@media screen and (min-width: 1070px) {
	.logo {
		width: 200px;	
	}
	
	.nav-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 5em;
	}
	
	nav li {
		display: inline-block;
		font-size: 1.3em;
		margin: 1em 1em;
		padding: 0;
		padding-bottom: 3px;
		border: none;

	}
	
	.nav-item p {
		padding-left: 2em;
		font-size: 1.3em;
	}
}

.rectangle {
	width: 75%;
	height: 1px;
	background: #EDEDED;
	padding-bottom: 0;
	display: block;
	margin: 1em auto;
	
}

[class^=banner-image] {
	height: 80vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	background-color: #666;
	background-blend-mode: multiply;
}

.banner-image1 {
	background-image: url(images/superkid.jpg);
	align-items: flex-start;
	background-position: center;

}

.banner-image2 {
	background-image: url(images/beach-baby.jpg);
	align-items: flex-end;

}

.banner-image3 {
	background-image: url(images/flying-kid.jpg);
	align-items: flex-start;
	background-position: center;
}

.banner-text {
	text-align: center;
	padding: 0 2em;
	color: #FFF;

}

.banner-text h1 {
	font-family: 'Lora', serif;
	font-size: 2em;
	
	/*border-bottom: 1px solid #969696; */
	
}

.banner-text p {
	padding: 0 1em;
}

@media screen and (min-width: 700px) {
	[class^=banner-image] {
		height: 80vh;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-direction: column;
		background-color: transparent;

	}
	
	.banner-image3 {
		background-position:top;
	}
}

@media screen and (min-width: 600px) {
	.banner-text {
		padding: 0 5em;
		text-align: left;
		width: 50%;
	
	}

	.banner-text h1 {
		font-family: 'Lora', serif;
		font-size: 3em;
		color: #4F4F4F;
		/*border-bottom: 1px solid #969696; */

	}

	.banner-text p {
		font-family: 'Lora', serif;
		color: #666666;
		font-family: "Roboto", sans-serif;
		font-size: 1.5em;
		font-weight: 500;
		margin: 1em 0;
		padding: 0;
	}
}

.button {
	cursor: pointer;
	overflow: hidden;
	outline: none;
	position: relative;
	font-weight: 500;
	padding: 0.4em 1em 0.4em 1em;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-size: 1.1em;
	display: inline-block;
	color: #FFF;
	background: #519548;
	border: none;
	transition: all 0.7s ease;
	transition: all 0.7s ease;
	text-decoration: none;
	border: 2px solid #519548;
}

@media screen and (min-width: 600px) {
	.button {
		padding: 0.7em 2em;
	}
}

.button:link, .button:visited {
	color: #FFF;
}

.button:hover{
	background: transparent;
	color: rgba(13, 167, 0, 0.7);
}

.yellow-button {
	background-color: rgba(222, 187, 28, 0.8);
	border: 2px solid rgba(222, 187, 28, 0.8);
}

.yellow-button:hover {
	color: rgba(222, 187, 28, 0.8);
}

/* 	KEYFRAME ANIMATION 	*/

@keyframes animate-left {
	from { 
		left: -200px; 
		opacity: 0;
	}
	to  { 
		left: 0px; 
		opacity: 1;
	}
}

@keyframes animate-right {
	from {
		right: -200px;
		opacity: 0;
	}
	to {
		right: 0px;
		opacity: 1;
	}
}

.box1 {
	animation: animate-left 2s forwards, ease-in;
	position: absolute;
}

@media screen and (min-width: 600px) {
	.animate-left {
	}
}

.box2 {
	animation: animate-right 2s forwards, ease-in;
	position: absolute;
}


@media screen and (device-width: 768px) and (device-height: 1024px) {
	.box2 {
		padding-top: 20em;
	}
	.box2 h1 {
		padding-bottom: 0.5em;
	}
}

.banner-item {
	padding: 0;
	margin: 0;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

.rectangle {
	width: 75%;
	height: 1px;
	background: #EDEDED;
	padding-bottom: 0;
	display: block;
	margin: 1em auto;
	
}

/* 	CAROUSEL 	*/

.mySlides {
	position: relative;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	/* More fade options for browser support needs to be included here */
	animation-name: fade;
	animation-duration: 1s;
}

@-webkit-keyframes fade {
	from {opacity: 0.6} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: 0.6} 
	to {opacity: 1}
}

.center {
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translate(-50%, 0%);
	width: 100%;
}

.circles {
	cursor: pointer;
	width: 25px;
	height: 25px;
	margin-top: 2em;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	border: 2px solid #FFF;
	user-select: none;
}

.white,
.hover-white:hover {
	background-color: #FFF;
}

.left, .right{
	cursor: pointer;
	padding: 0 1em;
	user-select: none;
	position: absolute;
}

.right {
	right: 0;
	z-index: 1;
	top: 50%;
}

.left {
	left: 0;
	top: 50%;
	z-index: 1;

}

.fas {
	font-size: 2.5em;
	color: #519548;
	opacity: 0.8;
}

.fas:hover {
	color: #519548;
	opacity: 1;
}

.display-container {
	position: relative;
	text-align: center;
}

.display-container:hover {
	display: block;
}

/* 	TRAILER SECTION 	*/

.trailer-container {
	display: flex;
	flex-direction: column;
	margin: 2em 1em 5em 1em;
	background-color: #FFF; 
	padding-top: 2em;
}

.trailer-item {
	padding-top: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.trailer-item-text {
	text-align: center;
	padding: 0 1em;
}

.trailer-item-text h2 {
	font-family: 'Lora', serif;
	font-size: 2em;
	color: #4F4F4F;
	border-bottom: 1px solid #969696;
	padding-bottom: 0.5em;
	
}

.trailer-item-text h3 {
	display: block;
	font-family: 'Lora', serif;
	font-size: 1.2em;
	color: #519548;
	text-align: center;
	border: 1px solid #519548;
	padding: 1em;
	border-radius: 40px;
}

.trailer-item-text h4 {
	font-family: "Lora", serif;
	font-weight: 900;
	font-size: 1.1em;
	color: #4F4F4F;
	line-height: 0;
}

.trailer-list-container {
	padding: 1em 0;
}

.trailer-list {
	list-style: none;
	font-family: "Lora", serif;
	padding: 0;
	font-size: 1em;
	text-align: center;
	line-height: 2;

}

.trailer-list li {
	display: inline-block;
	padding-right: 20px;

}

iframe {
	max-width: 100%;
}

@media screen and (min-width: 900px) {
	.trailer-container {
		flex-direction: row;
		margin: 0 5em;
		padding: 6em 0;
	}
	
	.trailer-item {
		padding: 0;
		flex: 1;
		
	}
	
	.trailer-item-text {
		padding-right: 2em;
		text-align: center;
	}
}

@media screen and (min-width: 1000px) {
	.trailer-container {
		flex-direction: row;
	}
}

/* GALLERY */

/* Position the image container (needed to position the left and right arrows) */

.gallery-container {
	position: relative;
	margin: 0 1em;
	margin-bottom: 50px;
	
}

.illustration-bg-image1 {
	background-image: url(images/character-collage3.png);
	background-size: contain;
	background-position: left;
	height: 300px;
	
}

.illustration-bg-image2 {
	background-image: url(images/einstein.jpg);
	background-size: cover;
	background-position: center;
	height: 40vh;

}

.illustration-bg-image3 {
	background-image: url(images/white-boy-illustration-small.jpg);
	background-size: cover;
	background-position: bottom;
	height: 40vh;
}

.illustration-bg-image4 {
	background-image: url(images/black-girl-illustration.jpg);
	background-size: cover;
	height: 40vh;
	
}

.gallery {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #FFF;
}

.gallery-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	
}

.gallery-item h4 {
	position: absolute;
	top: 16px;
	left: 30px;
	width: 60%;
	text-align: left;
	font-family: 'Lora', serif;
    font-size: 1.2em;
    color: #4F4F4F;
}

@media screen and (min-width: 768px) {
	.gallery-item h4 {
		left: 50px;
}
}

.character-collage {
	background-color: #FFF;
}

.gallery-heading {
	font-family: 'Lora', serif;
    font-size: 1.5em;
    color: #4F4F4F;
	padding: 1em 0;
}

.gallery-description {
	padding: 0 1em;
}

.gallery-description p {
	font-size: 1em;
}

.stock-position {
	margin: 0 auto;

}

@media screen and (min-width: 769px) {
	.gallery-container {
		margin: 0 2em;
	}
	.gallery {
		flex-direction: row;
	}
	.gallery-item {
		flex-basis: 50%;
		height: 600px;
		background-color: rgba(255, 255, 255, 0.3);
	}
	.gallery-description {
		padding: 0 2em;
	}
	.gallery-item:last-child {
		padding-right: 0;
		flex-basis: 50%;
	}
}
	
@media screen and (min-width: 1100px) {
	.gallery-container {
		flex-direction: row;
		margin: 4em 5em;
	}
}


/* Parallax */
	
.parallax { 
    /* The image used */
    background-image: url("images/children-writing.jpg");
    /* Set a specific height */
    height: 300px; 
    height: 300px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-color: #666;
	background-blend-mode: overlay;
    margin: 3em 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.parallax h2 {
	text-align: center;
	color: #FFF;
	font-family: "Lora", serif;
	font-size: 2em;

}

/* Dropdown menu */

.dropdown-menu-container{
	margin: 3em 1em;
	border: 1px solid lightgray;
	background-color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 769px) {
	.dropdown-menu-container {
		margin: 2em;
	}
}

@media screen and (min-width: 1000px) {
	.dropdown-menu-container {
		margin: 5em;
	}
}

.dropdown-menu-container h3 {
	font-size: 1.5em;
	background-color: rgba(255, 255, 255, 0.7);
	color: #24993d;
	text-align: center;
	transition: all ease-in-out 200ms;
}

.js.dropdownMenu>h3 {
	border-top:1px solid #ddd;
	padding: 12px 0;
}

.js.dropdownMenu>h3:hover {
	cursor:pointer; 
	background-color: #24993d;
	color: #FFF;

}
.js.dropdownMenu .menuItem {
	padding-bottom: 30px;
}

.menuItem {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 0 2em;
	width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 700px) {
	.menuItem {
		padding: 0.5em;
		width: 70%;
	}
}

/*  -------- FOOTER -------- */

footer {
	background-color: #24993d;
	color: #FFF;
	opacity: 1;

}

.back {
	padding-top: 1em;
	text-align: center;

}

.footer-container {
	padding: 3em 1em 2em 1em;
	margin-left: 100px;

}

@media screen and (min-width: 811px) {
	.footer-container {
		padding-bottom: 10em;

	}
}

/* 	---- 	Column System 	----- 	*/

[class^=col-] {
	text-align: left;
	width: 100%;
}

.col-2,
.col-1 {
	line-height: 0;
}



.col-1 {
	font-size: 20px;
	padding: 1em 0;
}

.col-1 p {
	display: inline-block;
	font-weight: 700;
}

.col-2 h4 {

	font-size: 30px;
	font-weight: 700;
	margin: 0;
}

.col-2 p {
	padding-top: 1em;
}


.col-1 h4 {
	font-weight: 700;
	font-size: 20px;
	margin: 0;
}

@media screen and (min-width: 810px) {
	[class^=col-] {
		float: left;
		padding: 0 2em;
	}

	.col-2 {
		width: 50%;
	}

	.col-1 {
		width: 25%;
		font-size: 1rem;

	}

	[class^=col-]:first-child {
		padding-left: 0;
	}

	[class^=col-]:last-child {
		padding-right: 0;
	}
}

.social-media-images {
	
}

.social-media-images:hover {
	background-color: #FFF;
	border-radius: 100%;
	padding-top: 0;
}

.col-1 a, .col-2 a {
	color: #1AC8ED;
	font-weight: 700;
}

.col-2 a:hover,
.col-1 a:hover {
	color: #FFF;
}

/* 	FOLLOW 	*/

.follow {
	background-color: #f3e600;
	color: #FFF;
	padding: 4em 0;

	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(images/food.png);
	background-blend-mode: screen;
}

.follow h2 {
	font-family: "Lora", serif;
	padding-right: 1em;
	font-size: 2em;
}

.fab {
	font-size: 2em;
	
}

.fab:hover {
	color: blue;
}


/*  -------- END OF FOOTER -------- */
