html {
	overflow-y: scroll;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;

}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto', sans-serif;
	background-image: url(images/diagmonds-light%20copy.png);
	background-size: no-repeat;
	background-color: #FFF;
	background-attachment: fixed;
}

head {
	
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	line-height: 1;
	text-transform: none;

}

img {
	max-width: 100%;
}

main {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	
}

@media screen and (min-width: 800px){
	main {
		
	}
}

/* 	BUTTONS  */

.join-button {
	background-color: #519548;
	padding: 0.5em 2em;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

/* 	NAV */

.logo {
	width: 250px;
}

.nav-container {
	padding-bottom: 0.5em;
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;

}

.nav-container p {
	color: #1a9a38;
}

.nav-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1;
	
}

.nav-item p {
	font-family: "Lora", serif;
	color: #519548;
	font-size: 1.1em;
	line-height: 0;

}

nav ul {
	list-style: none;
	font-family: "Lora", serif;
	display: flex;
	justify-content: center;
	padding: 0;
}

nav li {
	padding-bottom: 3px;
	position: relative;
	padding: 0 0.7em;
	text-align: center;
	display: flex;
	justify-content: space-around;
	font-size: 1.1em;
}

nav a {
	text-decoration: none;
}

nav a:link, nav a:visited {
	color: #222;
}

nav a:hover,
nav a:focus {
	color: #519548;
	cursor: pointer;
}
@media screen and (min-width: 800px) {
	.logo {
		width: 200px;	
	}
	
	.nav-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 5em;
	}
	
	nav li {
		display: inline-block;
		font-size: 1.2em;
		margin: 1em 1em;
		padding: 0;
		padding-bottom: 3px;
		border: none;

	}
	
	.nav-item p {
		padding-left: 2em;
		font-size: 1.3em;
	}
}

/* LANDING BANNER */

.landing-banner {
	/* Needed? */
}

[class^=banner-image] {
	height: 80vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	background-color: #666;
	background-blend-mode: multiply;
}

.banner-image1 {
	background-image: url(images/superkid.jpg);
	align-items: flex-start;
	background-position: center;

}

.banner-image2 {
	background-image: url(images/beach-baby.jpg);
	align-items: flex-end;

}

.banner-image3 {
	background-image: url(images/flying-kid.jpg);
	align-items: flex-start;
	background-position: center;
}

.banner-text {
	text-align: center;
	padding: 0 2em;
	color: #FFF;
}

.banner-text h1 {
	font-family: 'Lora', serif;
	font-size: 2em;
	
	/*border-bottom: 1px solid #969696; */
	
}

.banner-text p {
	padding: 0 1em;
}

@media screen and (min-width: 700px) {
	[class^=banner-image] {
		height: 80vh;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-direction: column;
		background-color: transparent;

	}
	
	.banner-image3 {
		background-position:top;
	}
}

@media screen and (min-width: 600px) {
	.banner-text {
		padding: 0 5em;
		text-align: left;
		width: 50%;
	
	}

	.banner-text h1 {
		font-family: 'Lora', serif;
		font-size: 3em;
		color: #4F4F4F;
		/*border-bottom: 1px solid #969696; */

	}

	.banner-text p {
		font-family: 'Lora', serif;
		color: #666666;
		font-family: "Roboto", sans-serif;
		font-size: 1.5em;
		font-weight: 700;
		margin: 1em 0;
		padding: 0;
	}
}

.button {
	cursor: pointer;
	overflow: hidden;
	outline: none;
	position: relative;
	font-weight: 700;
	padding: 0.4em 1em 0.4em 1em;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-size: 1.1em;
	display: inline-block;
	color: #FFF;
	background: #519548;
	border: none;
	transition: all 0.7s ease;
	transition: all 0.7s ease;
	text-decoration: none;
	border: 2px solid #519548;
}

@media screen and (min-width: 600px) {
	.button {
		padding: 0.7em 2em;
	}
}

.button:link, .button:visited {
	color: #FFF;
}

.button:hover{
	background: transparent;
	color: rgba(13, 167, 0, 0.7);
}

/* 	KEYFRAME ANIMATION 	*/

@keyframes animate-left {
	from { 
		left: -200px; 
		opacity: 0;
	}
	to  { 
		left: 0px; 
		opacity: 1;
	}
}

@keyframes animate-right {
	from {
		right: -200px;
		opacity: 0;
	}
	to {
		right: 0px;
		opacity: 1;
	}
}

.box1 {
	animation: animate-left 2s forwards, ease-in;
	position: absolute;
}

@media screen and (min-width: 600px) {
	.animate-left {
	}
}

.box2 {
	animation: animate-right 2s forwards, ease-in;
	position: absolute;
}


.banner-item {
	padding: 0;
	margin: 0;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

.rectangle {
	width: 75%;
	height: 1px;
	background: #EDEDED;
	padding-bottom: 0;
	display: block;
	margin: 1em auto;
	
}

/* 	CAROUSEL 	*/

.mySlides {
	position: relative;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	/* More fade options for browser support needs to be included here */
	animation-name: fade;
	animation-duration: 1s;
}

@-webkit-keyframes fade {
	from {opacity: 0.6} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: 0.6} 
	to {opacity: 1}
}

.center {
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translate(-50%, 0%);
	width: 100%;
}

.circles {
	cursor: pointer;
	width: 25px;
	height: 25px;
	margin-top: 2em;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	border: 2px solid #FFF;
	user-select: none;
}

.white,
.hover-white:hover {
	background-color: #FFF;
}

.left, .right{
	cursor: pointer;
	padding: 0 1em;
	user-select: none;
	position: absolute;
}

.right {
	right: 0;
	z-index: 1;
	top: 50%;
}

.left {
	left: 0;
	top: 50%;
	z-index: 1;

}

.fas {
	font-size: 2.5em;
	color: #519548;
	opacity: 0.8;
}

.fas:hover {
	color: #519548;
	opacity: 1;
}

.display-container {
	position: relative;
	text-align: center;

}

.display-container:hover {
	display: block;
}

/* 	TRAILER SECTION 	*/

.trailer-container {
	display: flex;
	flex-direction: column-reverse;
	margin: 2em 1em;
	/* background-color: #80c3d2; 
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
	
}

.trailer-item {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2em;
}

.trailer-item-text h2 {
	font-family: 'Lora', serif;
	font-size: 2em;
	color: #4F4F4F;
	border-bottom: 1px solid #969696;
	padding-bottom: 0.5em;
	
}

iframe {
	
}

@media screen and (min-width: 600px) {
	.trailer-container {
		display: flex;
		flex-direction: row;
		margin: 4em 5em;
	}
	
	.trailer-item {
		padding: 0;
	}
	
	.trailer-item-text {
		padding-left: 2em;
	}
}

/*	PERSONALISED STORY 	
.story-heading {
    font-family: 'Lora', serif;
    font-size: 2em;
    color: #4F4F4F;
	padding: 1em 0;
}
.personalised-story {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 1em;
	
}
.story-item {
	padding: 0 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
@media screen and (min-width: 700px) {
	.personalised-story {
		margin: 0 5em;
		flex-direction: row;
	}
	.story-item {
		flex-basis: 50%;
	}
	.story-item:first-child {
		padding-right: 1em;
	}
	.story-item:last-child {
		padding-left: 1em;
		padding-right: 0;
	}	
} */

/* GALLERY */

/* Position the image container (needed to position the left and right arrows) */

.gallery-container {
	position: relative;
	margin: 0 1em;
}

/* Hide the images by default */
.hidden-gallery{
	display: none;
	border-bottom: 5px solid #000;
	
}

.illustration-bg-image {
	background-image: url(images/black-girl-illustration.jpg);
	background-size: cover;
	
}

.illustration-bg-image2 {
	background-image: url(images/white-boy-illustration-small.jpg);
	background-size: cover;
}

.illustration-bg-image3 {
	background-image: url(images/einstein.jpg);
	background-size: cover;
	background-position: center;
}

.illustration-bg-image4 {
	background-image: url(images/south-asian-boy.png);
	background-size: contain;
	background-position: center;
	
}

.gallery {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.gallery-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.gallery-heading {
	font-family: 'Lora', serif;
    font-size: 1.5em;
    color: #4F4F4F;
	padding: 1em 0;
}

.gallery-description {
	padding: 0 1em;
}

.gallery-description p {
	font-size: 1em;
}

@media screen and (min-width: 700px) {
	.gallery-container {
		margin: 0 5em;
	}
	.hidden-gallery {
		background-color: transparent;
	}
	.gallery {
		flex-direction: row;
	}
	.gallery-item {
		flex-basis: 50%;
		height: 450px;
	}
	.gallery-description {
		padding: 0 2em;
	}
	.gallery-item:first-child {
		padding-right: 1em;
	}

	.gallery-item:last-child {
		padding-left: 1em;
		padding-right: 0;
	}	
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: #000;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFF;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #000;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Four columns side by side */
.column {
	float: left;
	width: 25%;
}

/* Add a transparency effect for thumnbail images */
.thumbnail {
	opacity: 0.6;
	cursor: pointer;
	width: 100%;
	height: 150px;
}

.active,
.thumbnail:hover {
	opacity: 1;
}


/* 	FOLLOW 	*/

.follow {
	background-color: #f3e600;
	color: #FFF;
	padding: 4em 0;
	margin: 2em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(images/food.png);
	background-blend-mode: screen;
}

.follow h2 {
	font-family: "Lora", serif;
	padding-right: 1em;
	font-size: 2em;
}

.fab {
	font-size: 2em;
	padding: 0 0.5em;
}

.fab:hover {
	color: blue;
}






/* NEW SECTION? */

.character-images {
	display: flex;
	flex-direction: row;
	
}

@media screen and (min-width: 800px) {
	.character-images {
		flex-direction: row;
	}
}

.character-item {
	flex: 1;
	opacity: 0.5;
	border: 1px solid #A1A1A1;
	padding: 2em;
}

.character-item:hover {
	opacity: 1;
}

/* 	LUKE SECTION 	*/

.luke-section {
	display: flex;
	flex-direction: row;
	padding: 2em 5em;
}

.luke-item {
	
}

.luke-item p {
	
}

.luke-item:first-child {
	flex-basis: 30%;
}

.luke-item:nth-child(2n) {
	flex-basis: 70%;
}

.luke-dialogue {
	padding: 1em;
	margin-bottom: 1em;
	margin-left: 2em;
	border: 1px solid #A1A1A1;
}

.join-community {
	background-color: #222;
	padding: 2em 0;
	color: #FFF;
	display: flex;
	justify-content: center;
	margin-left: 2em;
}

.form-option {
	padding: 0 2em;
}


/* 	FOOTER 	*/

/*footer {
	background-color: #222;
	padding: 5em 0;
}*/

/* SlideShow */

.story {display:none;}

.storyPic {
	display:none;
	height:450px;
	width: 500px;
	margin-left: auto;
    margin-right: auto;
	}

.storyThumbnail:hover {
  opacity: 0.3;

}

.storyThumbnail{
	display: block;
	width: 100px;
	height: 100px;
    margin-left: auto;
    margin-right: auto;
}
	
.card-img-top{
	height: 300px;
}
	
.parallax { 
    /* The image used */
    background-image: url("images/children-writing.jpg");

    /* Set a specific height */
    height:300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.aboutLeft{
	height: 400px;

}

.aboutRight{
	height: 400px;

}


.leftContent{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.leftContent img{
	width: 150px;
}

.lowerBar{
	height: 200px;
}

.menuItem1{
	color: #24993d;
}

/*#519548*/
.menuItem2{
	color: #24993d;
}
.menuItem3{
	color: #24993d;
}

/*#f2e432*/

.menuItem4{
	color: #24993d;
}
.menuItem5{
	color: #24993d;
}
.menuItem6{
	color: #24993d;
}

.dropdownMenu h3{
	text-align: center;
}

.dropdownMenu h3{
	text-align: center;
}

.js.dropdownMenu>h3 {border-top:1px solid #ddd; padding: 8px 0;}
.js.dropdownMenu>h3:hover {cursor:pointer; color: #228119;}
.js.dropdownMenu .menuItem {padding-bottom: 30px;}

.container{
	width: 87%;
    margin: 0 auto;
}

.menuItem{
	background-color:#ECECE8;
	padding:10px;
}

/*  -------- FOOTER -------- */

footer {
	background-color: #222;
	color: #FFF;
}

.back {
	padding-top: 1em;
	text-align: center;

}

.footer-container {
	padding: 4em 1em 2em 1em;
}

@media screen and (min-width: 811px) {
	.footer-container {
		padding-bottom: 10em;
	}
}

/* 	---- 	Column System 	----- 	*/

[class^=col-] {
	text-align: left;
	width: 100%;
}

.col-2,
.col-1 {
	line-height: 0;
}

.col-1 {
	font-size: 20px;
	padding: 1em 0;
}

.col-1 p {
	display: inline-block;
	font-weight: 900;
}

.col-2 h4 {
	font-family: "Merriweather", serif;
	font-size: 30px;
	font-weight: 900;
	margin: 0;
}

.col-2 p {
	padding-top: 1em;
}


.col-1 h4 {
	font-family: "Merriweather", serif;
	font-weight: 900;
	font-size: 20px;
	margin: 0;
}

@media screen and (min-width: 810px) {
	[class^=col-] {
		float: left;
		padding: 0 2em;
	}

	.col-2 {
		width: 50%;
	}

	.col-1 {
		width: 25%;
		font-size: 1rem;

	}

	[class^=col-]:first-child {
		padding-left: 0;
	}

	[class^=col-]:last-child {
		padding-right: 0;
	}
}

.social-media-images {
	padding-top: 1em;
}

.social-media-images:hover {
	background-color: #FFF;
	border-radius: 100%;
	padding-top: 0;
}

.col-1 a, .col-2 a {
	color: #1AC8ED;
	font-weight: 700;
}

.col-2 a:hover,
.col-1 a:hover {
	color: #FFF;
}







    
